/* FONT IMPORT  */
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

/* Initialises no margin and padding */
* {
    margin: 0;
    padding: 0;
}


/* REUSABLE CODE THROUGHOUT */
body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 100% 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                        "main";
    overflow: hidden;
}

header{
    background: #9CDDEB;
    grid-area: header;
    display: grid;
    grid-template: 100% 100%;
    grid-template-rows: auto;
    grid-template-areas: "logo logo"
                        "mainNav mainNav";
}

main{
    grid-area: main;
}

.logo{
    height: 101px;
    width: 300px;
    padding: 10px;
    border-radius: 50px;
}

li{
    display: inline;
    padding: 70px;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Esteban', serif;
}

a{
    color: black;
    text-decoration: underline;
}

.mainNav{
    padding-top: 25px;
}

h1,
h2{
    font-family: 'Esteban', serif;
    text-align:center;
    font-style: normal;
    font-weight: 400;
}

h1{
    font-size: 72px;
}
h2{
    font-size: 48px;
}

p{
    font-family: 'Esteban', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    }

/* HOME PAGE  */
.background-rectangle{
    width: 1298px;
    height: 290px;
    background: #C5ECF4;
    border-radius:25px;
    padding-top: 25px;
    padding-right: 25px;

}

.foreground-rectangle{
    width: 1298px;
    height: 290px;
    background:#9CDDEB;
    border-radius:25px ;
}

.rectangles{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 100%;
}

.peopleImage{
    height: 395px;
    width: 620px;
}

.homeFooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    display: inline;
    margin-left: 25px;
    float: left;
    width: 400px;
    height: 202px;
    border-radius: 25px;
    background: #C5ECF4;
    text-align: center;
}

/* REUSABLE FOOTER */
.footer{
display: inline;
float: left;
position: fixed;
width: 100%;
bottom: 0;
height: 112px;
background: #9CDDEB;
}

.icon{
    width: 85px;
    height: 83px;
    margin-left: 400px;
    margin-top: 15px;
}

/* ABOUT US SECTION */
.aboutContainer{
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    height: 100%;
}

.aboutInfo-a,
.aboutInfo-b,
.aboutInfo-c{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 25% 25% 25% 25%;
}

.aboutInfo-a,
.aboutInfo-b{
    width: 534px;
    height: 250px;
    border-radius: 25px;
    background: #9CDDEB;
}

.aboutInfo-a{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.aboutInfo-b{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.aboutInfo-c{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 534px;
    height: 250px;
    border-radius: 25px;
    background: white;
    border: 5px solid #9CDDEB;
}

.aboutContent{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 25px;
    text-align: left;
}

.yogaPerson{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

/* PLANS SECTION  */
/*Help found from https://stackoverflow.com/questions/40077096/how-do-i-draw-a-horizontal-line-between-two-circles-with-css*/
.plansText{
width: 1239px;
height: 219px;
margin-left: 300px;
margin-top: 20px;
background: rgba(156, 221, 235, 0.19);
text-align: center;
}

.plan {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    background: #9CDDEB;
    border-radius: 50%;
    text-align: center;
    font-size: 36px;
  }
  
  .line {
    width: 10px;
    border: 1px solid #C4C4C4;
  }

  .steps{
      height: 235px;
      width: 225px;
      border-radius: 50%;
      filter: blur(1px);
    }