*{
    margin: 0;
    padding: 0;
}
/*Exercise 1 */

.part1 h2{
    color: red;
}

.part1 p{
    background-color: black;
    color: white;
    display: inline;
}

.part2 h2{
    color: green;
}
 .part2 p {
     color: green;
     background-color: darkred;
     display: inline;
 }

 .part3 div,
 .part3 p
 {
     color: green;
 }

 .part4 > p{
     color: green;
 }

 /*Exercise 2*/
 .csym019, 
 .csym015{
     display:block;
     float: left;
     width: 50%;
 }

 .csym015{
     background-color: green;
 }

 .csym019{
     background-color: red;
 }


 /*Exercise 3*/
.csy2038, 
.csy2027,
.csy2041,
.csy2028{
     display:block;
     float: left;
     width: 50%;
     height: 470px;
 }

 .csy2038{
     background-color: green;
 }

 .csy2027{
     background-color: red;
 }

 .csy2041{
    background-color: blue;
}

.csy2028{
    background-color: yellow;
}

/*Exercise 4*/
header > h1{
    background-color: yellow;
    height: 100px;
}

.left, 
.middle,
.right{
    display: block;
    float: left;
}

.left, .right{
    width: 25%;;
}

.middle{
    width: 50%;
    background-color: blue;
    height: 830px;
    color: white;
}

.right, .left{
    background-color:greenyellow;
    height: 830px;
}




footer{
position: absolute;
left: 0;
right: 0;
bottom: 0;
background-color: red;
}